<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Youtube Comment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
</head>

<body>
  <div id="main-div">
  <div id="left-section">
    <h3>YouTube Comment Analyzer</h3>
    <form action="/" method="post">
      <input type="text" name="youtube-link" placeholder="YouTube Video Link" id="youtube-link" />
      <button type="submit">Analyse</button>
    </form>
    {% if statistics %}
    <iframe id="video_embed" width="300" height="200" src="https://www.youtube.com/embed/{{ video_id }}"></iframe>
    <p class="video_name">{{ statistics.video_name }}</p>
    <h4 id="channel_name">{{ statistics.channel_name }}</h4>
    {% elif error %}
    <p class="error">Please enter valid YouTube Video URL</p>
    {% endif %}
  </div>
  <div id="right-section">
    <div id="graph-container">
      {% if graph %}
      <h1 class="heading">Statistics</h1>
      <div id="statistics">
        <div class="count view">
          <span class="stat_text">View</span>
          <span>{{ statistics.view_count }}</span>
        </div>
        <div class="count like">
          <span class="stat_text">Like</span>
          <span>{{ statistics.like_count }}</span>
        </div>
        <div class="count comment">
          <span class="stat_text">Comment</span>
          <span>{{ statistics.comment_count }}</span>
        </div>
        <div class="count published_at">
          <span class="stat_text">Published At</span>
          <span>{{ statistics.published_at|formatdatetime }}</span>
        </div>
      </div>
      {% if textData %}
      <div id="negativecomment-container"> 
        <div id="table-container">
            <table>
                <colgroup>
                    <col style="width: 50%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                  </colgroup>
                <thead>
                <tr>
                    <th>Comment</th>
                    <th>Positive</th>
                    <th>Negative</th>
                    <th>Neutral</th>
                </tr>
                </thead>
                <tbody>
                {% for c in textData.negativeComments %}
                <tr>
                    <td>{{c.text}}</td>
                    <td>{{c.positive}}</td>
                    <td>{{c.negative}}</td>
                    <td>{{c.neutral}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="negative-close-btn">X</div>
    </div> 
      <div id="positivecomment-container"> 
        <div id="table-container">
            <table>
                <colgroup>
                    <col style="width: 50%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                  </colgroup>
                <thead>
                <tr>
                    <th>Comment</th>
                    <th>Positive</th>
                    <th>Negative</th>
                    <th>Neutral</th>
                </tr>
                </thead>
                <tbody>
                {% for c in textData.positiveComments %}
                <tr>
                    <td>{{c.text}}</td>
                    <td>{{c.positive}}</td>
                    <td>{{c.negative}}</td>
                    <td>{{c.neutral}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="positive-close-btn">X</div>
    </div> 

      <div id="neutralcomment-container"> 
        <div id="table-container">
            <table>
                <colgroup>
                    <col style="width: 50%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                  </colgroup>
                <thead>
                <tr>
                    <th>Comment</th>
                    <th>Positive</th>
                    <th>Negative</th>
                    <th>Neutral</th>
                </tr>
                </thead>
                <tbody>
                {% for c in textData.neutralComments %}
                <tr>
                    <td>{{c.text}}</td>
                    <td>{{c.positive}}</td>
                    <td>{{c.negative}}</td>
                    <td>{{c.neutral}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="neutral-close-btn">X</div>
    </div> 

      <div class="ana">
        <h1>Comment Analysis Result</h1>
        <div class="container">
          <button class="box box1" id="positiveBtn">
            <p>Positive Comments</p>
            <p>Total Count: <span id="positiveCount">{{textData.positive}}</span></p>
          </button>
          <button class="box box3" id="neutralBtn">
            <p>Neutral Comments</p>
            <p>Total Count: <span id="neutralCount">{{textData.neutral}}</span></p>
          </button>          
          <button class="box box2" id="negativeBtn">
            <p>Negative Comments</p>
            <p>Total Count: <span id="negativeCount">{{textData.negative}}</span></p>
          </button>
        </div>
      </div>
      {% endif %}
      <h1 class="cloud-h1">Word Cloud</h1>
      <div class="cloud">
        <img src="{{ cloud }}" alt="Graph" />
      </div>

      <div class="graphs">
        <div id="dropdown-container">
          <label for="graph-type">Select Graph Type:</label>
          <select id="graph-type" onchange="changeGraph()">
            <option value="complete">Complete Graph</option>
            <option value="seven-day">First 7-Day Graph</option>
          </select>
        </div>
        <img class="graph graph1 none" src="{{ graph }}" alt="Graph for 7 day" />
        <img class="graph graph2 " src="{{ graph_7 }}" alt="Graph" />
      </div>
      
      {% else %}
      <div class="graphs"></div>
      {% endif %}
    </div>
  </div>
  </div>
</body>
<script>
const negativeBtn = document.getElementById('negativeBtn')
const positiveBtn = document.getElementById('positiveBtn')
const neutralBtn = document.getElementById('neutralBtn')
const tableContainer = document.getElementById('table-container')

const negativeClose = document.getElementById('negative-close-btn')
const positiveClose = document.getElementById('positive-close-btn')
const neutralClose = document.getElementById('neutral-close-btn')

const negativeContainer = document.getElementById('negativecomment-container')
const positiveContainer = document.getElementById('positivecomment-container')
const neutralContainer = document.getElementById('neutralcomment-container')
negativeBtn.addEventListener('click', () => {
    negativeContainer.style.display = "flex"
    negativeClose.style.visibility = "visible"
})
positiveBtn.addEventListener('click', () => {
    positiveContainer.style.display = "flex"
    positiveClose.style.visibility = "visible"
})
neutralBtn.addEventListener('click', () => {
    neutralContainer.style.display = "flex"
    neutralClose.style.visibility = "visible"
})
negativeClose.addEventListener('click', () => {
    negativeContainer.style.display = "none"
    negativeClose.style.visibility = "hidden"
})
positiveClose.addEventListener('click', () => {
    positiveContainer.style.display = "none"
    positiveClose.style.visibility = "hidden"
})
neutralClose.addEventListener('click', () => {
    neutralContainer.style.display = "none"
    neutralClose.style.visibility = "hidden"
})


  function changeGraph() {
    var selectedValue = document.getElementById('graph-type').value

    if (selectedValue === 'complete') {
      document.querySelector('.graph.graph2').classList.remove('none')
      document.querySelector('.graph.graph1').classList.add('none')
    } else if (selectedValue === 'seven-day') {
      document.querySelector('.graph.graph1').classList.remove('none')
      document.querySelector('.graph.graph2').classList.add('none')
    }
  }
</script>

</html>